<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>METANIT.COM</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Город</label><br>
			<select name="gorod">
				{% for element in table_goroda %}
					{% if element.gorod == data.gorod %}
						<option selected="selected" value="{{ element.gorod }}">{{ element.gorod }}</option>
					{% else %}
						<option value="{{ element.gorod }}">{{ element.gorod }}</option>
					{% endif %}	
				{% endfor %}
	     </select>
        </p>
		<p>
            <label>Радио</label><br>
			<select name="radio">
				{% for element in table_radio %}
					{% if element.radio == data.radio %}
						<option selected="selected" value="{{element.radio }}">{{ element.radio }}</option>
					{% else %}
						<option value="{{ element.radio}}">{{ element.radio }}</option>
					{% endif %}	
				{% endfor %}
	     </select>
        </p>
        <input type="submit" value="Сохранить" >
    </form>
</body>
</html>